@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Arial Narrow', sans-serif;
  background-color: #f4f4ee;
  height: 100%;
}
input,
button,
textarea {
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
input:focus,
textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}
input,
button,
select {
  padding: 8px 16px;
  font-size: 14px;
}
button,
input[type=submit] {
  background-color: #ff5722;
  cursor: pointer;
  color: #fff;
  border: none;
  border-bottom: 4px solid #ff5722;
  padding: 8px 16px 4px 16px;
  margin: 4px 0;
}
button:active,
input[type=submit]:active,
button:hover,
input[type=submit]:hover {
  border-bottom: 4px solid #d84315;
}
button:disabled,
input[type=submit]:disabled {
  background-color: auto;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  padding: 24px 0px;
}
h2 {
  padding: 16px 0px;
}
.title,
h1 {
  font-size: xx-large;
}
.subtitle,
h2 {
  font-size: large;
}
.container {
  height: calc(100% - 52px);
  min-height: auto;
}
.hidden {
  display: none;
}
#header {
  position: relative;
  z-index: 10;
}
.inline {
  display: inline-block;
}
.footer-image {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.footer-image img {
  width: 50px;
}
#navbar {
  background-color: #607d8b;
  box-shadow: 0 1px 3px 0 #333;
  color: #fff;
}
#navbar a {
  text-decoration: none;
}
#navbar #brand {
  font-size: 24px;
  padding: 12px;
  color: #fff;
}
#navbar .nav-element {
  padding: 16px;
  font-size: medium;
  border-left: 3px solid #546e7a;
  background-color: #607d8b;
}
#navbar .right {
  float: right;
}
#navbar .nav-element-drop-down {
  cursor: pointer;
  width: 150px;
  text-align: center;
}
#navbar .nav-element-drop-down:hover ul,
#navbar .nav-element-drop-down ul:hover ul {
  display: block;
}
#navbar .nav-element-drop-down ul {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
  background-color: #607d8b;
}
#navbar .nav-element-drop-down ul li {
  padding: 10px;
  background-color: #607d8b;
  border-left: 3px solid #546e7a;
}
#navbar .nav-element-drop-down ul li:hover {
  background-color: #455a64;
}
#navbar .nav-element-drop-down .drop-down {
  position: absolute;
  top: 50px;
  width: 150px;
}
.add-data-structure {
  width: 260px;
}
.toast-top-right {
  z-index: 1;
  position: fixed;
  bottom: 60px;
  right: 0;
}
.toast {
  padding: 8px;
  color: #fff;
  margin: 2px;
  box-shadow: 0 0 4px 0px #777;
}
.toast.toast-success {
  background-color: #43a047;
}
.toast.toast-error {
  background-color: #d32f2f;
}
.token-token {
  word-wrap: break-word;
}
.tokens {
  width: 80%;
  margin: 0 auto;
}
.version-history {
  height: 100%;
  background-color: #546e7a;
  color: #fff;
}
.version-history h2 {
  text-align: center;
  margin: 0;
  padding: 16px;
}
.version-history #cy {
  border-right: 1px solid #455a64;
}
.version-history .version-history-view {
  height: calc(100% - 96px);
  width: 400px;
  background-color: #607d8b;
  border-top: 1px solid #455a64;
  border-bottom: 1px solid #455a64;
}
.version-history .button-group {
  text-align: center;
}
.track-info {
  padding: 16px;
  text-align: center;
  margin: 0 auto;
}
.footer {
  padding: 16px;
  opacity: 0.5;
  text-align: center;
  z-index: 0;
  position: relative;
  background-color: rgba(0,0,0,0.2);
}
.introduction {
  height: 500px;
  background-image: url("/images/panda3.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: bottom;
  overflow: auto;
}
.introduction h1 {
  font-size: 60px;
  margin: 10px;
}
.introduction h2 {
  font-size: 36px;
  margin: 10px;
}
.introduction .tagline {
  margin-left: 40px;
  color: #fff;
  text-shadow: 1px 1px 4px #333;
}
.introduction #semi-line {
  height: 4px;
  width: 210px;
  margin: 13px;
  background-color: #fff;
  display: block;
}
.introduction #special {
  font-style: italic;
}
.java-tut {
  max-width: 900px;
  padding: 32px;
  font-size: large;
  margin: 0 auto;
}
.sign-in {
  padding: 14px;
}
.sign-up {
  padding-top: 20px;
  text-align: center;
}
.sign-up input {
  margin: 4px;
}
.workbench {
  text-align: center;
}
.workbench .namespace {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
}
.overview-container {
  padding: 0;
}
.datastructure-overview-container {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
  margin: 0 auto;
  width: 80%;
  cursor: pointer;
}
.datastructure-overview-container:hover {
  background-color: #ffccbc;
}
.datastructure-overview-container .type {
  font-style: italic;
}
.datastructure-overview-container .button-group {
  float: right;
}
.data-structure {
  padding: 16px;
  border: 1px solid #eee;
  height: 100%;
}
.datastructure-container {
  overflow: auto;
  text-align: center;
  height: 100%;
}
.datastructure-container h2 {
  background-color: #37474f;
  color: #fff;
  padding: 14px;
}
.datastructure-create-dialog {
  background-color: #fff;
  padding: 32px 8px;
  z-index: 11;
}
.map-entry {
  display: inline-block;
  margin: 4px;
  vertical-align: top;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}
.map-entry .key {
  padding: 8px;
  background-color: #607d8b;
  color: #fff;
}
.map-entry pre {
  padding: 0 4px;
  margin: 0;
}
.map-entry .value {
  background-color: #fff;
  text-align: left;
  padding: 16px;
}
.graph-structure {
  height: calc(100% - 53px);
}
#graph-structure {
  text-align: left;
  width: 100%;
  min-height: 300px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  box-shadow: inset 0px 0px 6px #666;
}
.right {
  float: right;
}
.tool-bar input,
.tool-bar button {
  text-align: left;
  width: 200px;
}
.edit-overlay {
  margin: 0 auto;
  width: 80%;
}
.edit-overlay .key {
  width: calc(100% - 32px);
}
.edit-overlay .value {
  width: calc(100% - 40px);
  min-height: 400px;
  font-size: 20px;
  padding: 20px;
}
.edit-overlay .from,
.edit-overlay .to {
  width: calc(50% - 32px);
}
@media (max-width: 700px) {
  .edit-overlay {
    width: 100%;
  }
}
.svg {
  background-color: #efefef;
}
.link {
  stroke: rgba(0,0,0,0.2);
  stroke-width: 1px;
}
.node {
  stroke: #fff;
  stroke-width: 2px;
}
.textClass {
  stroke: #323232;
  font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  stroke-width: 0.5;
  font-size: 14px;
}
.full-height {
  height: 100%;
}
.datastructure-overlay {
  height: 100%;
}
.datastructure-overlay .tab-viewer {
  border-right: 1px solid #37474f;
  float: left;
  width: 400px;
}
.access {
  text-align: center;
}
.auto-complete input {
  width: 300px;
}
.possibleWords {
  position: absolute;
  background-color: #fff;
  text-align: left;
  width: 332px;
  display: inline;
  top: 26px;
  vertical-align: top;
  z-index: 2;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  max-height: 200px;
}
.possibleWords .word {
  padding: 8px;
  cursor: pointer;
}
.possibleWords .word:hover {
  background-color: #607d8b;
  color: #fff;
}
.selected {
  background-color: #d84315;
  border-color: #d84315;
}
.selected:hover {
  border-color: #bf360c;
}
.user-permissions .user-permission {
  background-color: #fff;
  overflow: auto;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  padding: 8px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
.user-permissions .user-permission .user-email,
.user-permissions .user-permission .user-access-permission {
  display: inline-block;
}
.user-permissions .user-permission .user-email {
  vertical-align: center;
  text-align: left;
  float: left;
}
.user-permissions .user-permission .user-access-permission {
  text-align: right;
  float: right;
}
.dialog {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: auto;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
}
.fork-dialog {
  background-color: #fff;
  padding: 16px 0;
  z-index: 11;
}
.inner-center {
  text-align: left;
  margin: 0 auto;
}
.tab-viewer {
  height: 100%;
}
.tab-viewer .tab-content {
  height: calc(100% - 54px);
}
.tab-viewer .tab-content .tab-item {
  border-top: 6px solid #546e7a;
  height: 100%;
}
.json-create input,
.json-create button {
  margin: 0;
}
.obj {
  margin: 4px 0px;
  margin-left: 1px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}
.obj:hover {
  border-left-color: #777;
}
.obj .remove-button {
  margin: 0;
}
.json-create .add-button,
.json-create .remove-button {
  padding: 0px 8px;
}
.json-editor {
  z-index: 2;
  position: relative;
}
.property-viewer {
  height: 100%;
  background-color: #546e7a;
  color: #fff;
}
.property-viewer .msg {
  padding: 16px;
}
.property-viewer button {
  margin: 16px;
}
.property-viewer h1 {
  text-align: center;
}
.property-viewer .json-displayer {
  color: #fff;
  background-color: #546e7a;
  padding: 16px;
  word-wrap: break-word;
}
.list-viewer {
  background-color: #fff;
  overflow: auto;
  height: 100%;
}
.list-viewer table {
  background-color: #eee;
}
.list-viewer table td {
  background-color: #fff;
}
.logs {
  height: 40%;
}
.info {
  height: 100%;
}
.token {
  background-color: #fff;
  overflow: auto;
  border-bottom: 1px solid #eee;
}
.token .token-name {
  padding: 16px;
}
.token .token-button-group {
  padding: 8px;
  float: right;
}
.success {
  background-color: #43a047;
  border-color: #43a047;
}
.success:hover {
  border-color: #258229;
}
.danger {
  background-color: #d32f2f;
  border-color: #d32f2f;
}
.danger:hover {
  border-color: #b51111;
}
.graph-editor {
  text-align: center;
  background-color: #546e7a;
  color: #fff;
  height: 100%;
}
.graph-editor .button-group {
  padding: 16px;
}
.shared-datastructures {
  text-align: center;
  padding: 16px;
  background-color: #fff;
}
.shared-datastructures .datastructure-overview-container {
  background-color: #e0e0da;
}
.library-bindings {
  text-align: center;
  background-color: #455a64;
  height: 150px;
  color: #fff;
  padding: 48px;
}
.library-bindings h1,
.library-bindings h2 {
  margin: 0;
}
.tab-labels {
  background-color: #37474f;
}
.tab-label {
  background-color: #455a64;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 16px;
}
.tab-label.selected {
  background-color: #546e7a;
}
.tab-label:hover {
  border: 0;
  background-color: #546e7a;
}
@media (max-height: 500px) {
  .container {
    height: auto;
  }
  .dialog {
    top: 0;
  }
}
