ERROR_RED=#D32F2F
SUCCESS_GREEN=#43A047
PRIMARY_200=#B0BEC5
PRIMARY=#607D8B
PRIMARY_600=#546E7A
PRIMARY_700=#455A64
PRIMARY_800=#37474F

SECONDARY_100=#FFCCBC
SECONDARY_200=#FFAB91
SECONDARY=#FF5722
SECONDARY_700=#E64A19
SECONDARY_800=#D84315
SECONDARY_900=#BF360C

BG=#f4f4ee

@font-face
	font-family: Roboto
	src: url('/fonts/Roboto/Roboto-Regular.ttf')

html, body
	padding: 0
	margin: 0
	font-family: Roboto, 'Arial Narrow', sans-serif
	background-color: BG
	height: 100%

input, button, textarea
	border: none
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)

input, textarea
	&:focus
		outline: none
		border: none
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4)

input, button, select
	padding: 8px 16px
	font-size: 14px

button, input[type=submit]
	background-color: SECONDARY
	cursor: pointer
	color: white
	border: none
	border-bottom: 4px solid SECONDARY
	padding: 8px 16px 4px 16px
	margin: 4px 0
	
	&:active, &:hover
		border-bottom: 4px solid SECONDARY_800
	
	&:disabled
		background-color: auto
		
h1, h2, h3
	margin: 0
	
h1
	padding: 24px 0px
	
h2
	padding: 16px 0px
		
.title, h1
	font-size: xx-large

.subtitle, h2
	font-size: large
		
.container
	height: calc(100% - 52px)
	min-height: auto
	// overflow: auto
	
.hidden
	display: none

#header
	position: relative
	z-index: 10

.inline
	display: inline-block
	
.footer-image
	position: fixed
	bottom: 0px
	right: 0px
	
	img
		width: 50px
		
#navbar
	background-color: PRIMARY
	box-shadow: 0 1px 3px 0 #333
	color: white
	
	a
		text-decoration: none

	#brand
		font-size: 24px
		padding: 12px
		color: white
		
	.nav-element
		padding: 16px
		font-size: medium
		border-left: 3px solid PRIMARY_600
		background-color: PRIMARY

	.right
		float: right
		
	.nav-element-drop-down
		cursor: pointer
		width: 150px
		text-align: center

		&:hover, ul:hover
			ul
				display: block
		ul
			list-style: none
			display: none
			padding: 0
			margin: 0
			background-color: PRIMARY

			li
				padding: 10px
				background-color: PRIMARY
				border-left: 3px solid PRIMARY_600

				&:hover
					background-color: PRIMARY_700
					
		.drop-down
			position: absolute
			top: 50px
			width: 150px
			
.add-data-structure
	width: 260px

.toast-top-right
	z-index: 1
	position: fixed
	bottom: 60px
	right: 0

.toast
	padding: 8px
	color: white
	margin: 2px
	box-shadow: 0 0 4px 0px #777
	
	&.toast-success
		background-color: SUCCESS_GREEN
	&.toast-error
		background-color: ERROR_RED
		
.token-token
	word-wrap: break-word

.tokens
	width: 80%
	margin: 0 auto

.version-history
	height: 100%
	background-color: PRIMARY_600
	color: white

	h2
		text-align: center
		margin: 0
		padding: 16px
	
	#cy
		border-right: 1px solid PRIMARY_700
	
	.version-history-view
		height: calc(100% - 96px)
		width: 400px
		// height: 400px
		background-color: PRIMARY
		border-top: 1px solid PRIMARY_700
		border-bottom: 1px solid PRIMARY_700
		
	.button-group
		text-align: center
		
.track-info
	padding: 16px
	text-align: center
	margin: 0 auto
	
.footer
	padding: 16px
	opacity: 0.5
	text-align: center
	z-index: 0
	position: relative
	background-color: rgba(0,0,0,0.2)
	
// Home Page

.introduction
	h1
		font-size: 60px
		margin: 10px
	h2
		font-size: 36px
		margin: 10px
	height: 500px
	background-image: url('/images/panda3.jpg')
	background-repeat: none
	background-size: cover
	background-position: bottom
	overflow: auto
	
	.tagline
		margin-left: 40px
		color: white
		text-shadow: 1px 1px 4px #333
		
	#semi-line
		height: 4px
		width: 210px
		margin: 13px
		background-color: white
		display: block
		
	#special
		font-style: italic

.java-tut
	max-width: 900px
	padding: 32px
	font-size: large
	margin: 0 auto

.sign-in
	padding: 14px
			
.sign-up
	padding-top: 20px
	text-align: center
	input
		margin: 4px
		
// Workbench
.workbench
	text-align: center
	
	.namespace
		font-style: italic
		font-weight: bold
		font-size: 16px
		padding: 8px

.overview-container
	padding: 0

.datastructure-overview-container
	background-color: white
	padding: 10px
	border-bottom: 1px solid #eee
	text-align: left
	margin: 0 auto
	width: 80%
	cursor: pointer
	
	&:hover
		background-color: SECONDARY_100
		// box-shadow: 0px 0px 8px #777
			
		// button
		// 	background-color: white
		// 	color: SECONDARY
			
		// 	&:hover
		// 		border-color: PRIMARY_700
		// 		color: PRIMARY_700
	
	.type
		font-style: italic

	.button-group
		float: right
		

.data-structure
	padding: 16px
	border: 1px solid #eee
	height: 100%

.datastructure-container
	overflow: auto
	text-align: center
	height: 100%
	h2
		background-color: PRIMARY_800
		color: white
		padding: 14px
		
.datastructure-create-dialog
	background-color: white
	padding: 32px 8px
	z-index: 11
	
.map-entry
	display: inline-block
	margin: 4px
	vertical-align: top
	box-shadow:0 0 2px 0 rgba(0,0,0,0.2)
	
	.key
		padding: 8px
		background-color: PRIMARY
		color: white
	
	pre
		padding: 0 4px
		margin: 0
	
	.value
		background-color: white
		text-align: left
		padding: 16px

.graph-structure
	height: calc(100% - 53px)

#graph-structure
	text-align: left
	width: 100%
	min-height: 300px
	height: 100%
	margin: 0 auto
	background-color: rgba(255,255,255,0.8)
	box-shadow: inset 0px 0px 6px #666
	
.right
	float: right
	
.tool-bar
	input, button
		text-align: left
		width: 200px
		
.edit-overlay
	margin: 0 auto
	width: 80%
	
	.key
		width: calc(100% - 32px)
	
	.value
		width: calc(100% - 40px)
		min-height: 400px
		font-size: 20px
		padding: 20px
		
	.from, .to
		width: calc(50% - 32px)
	
	@media(max-width: 700px)
		width: 100%
		
.svg
	background-color: #efefef
	
.link
	stroke: rgba(0,0,0,0.2)
	stroke-width: 1px

.node
	stroke: #fff
	stroke-width: 2px


.textClass
	stroke: #323232
	font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif
	font-weight: normal
	stroke-width: .5
	font-size: 14px
	
.full-height
	height: 100%


.datastructure-overlay
	height: 100%
	.tab-viewer
		border-right: 1px solid PRIMARY_800
		float: left
		width: 400px

.access
	text-align: center
	
.auto-complete
	input
		width: 300px

.possibleWords
	position: absolute
	background-color: white
	text-align: left
	width: 332px
	display: inline
	top: 26px
	vertical-align: top
	z-index: 2
	overflow: auto
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)
	max-height: 200px
	
	.word
		padding: 8px
		cursor: pointer
		
		&:hover
			background-color: PRIMARY
			color: white

.selected
	background-color: SECONDARY_800
	border-color: SECONDARY_800
	
	&:hover
		border-color: SECONDARY_900


.user-permissions
	.user-permission
		background-color: white
		overflow: auto
		width: 80%
		margin: 0 auto
		border-bottom: 1px solid #eee
		padding: 8px
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)

		.user-email, .user-access-permission
			display: inline-block
		.user-email
			vertical-align: center
			text-align: left
			float: left
		.user-access-permission
			text-align: right
			float: right

.dialog
	position: absolute
	top: 20%
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	overflow: auto
	width: auto
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2)
	
.fork-dialog
	background-color: white
	padding: 16px 0
	z-index: 11

.inner-center
	text-align: left
	margin: 0 auto


.tab-viewer
	height: 100%
	.tab-content
		height: calc(100% - 54px)
		.tab-item
			border-top: 6px solid PRIMARY_600
			height: 100%
			
.json-create 
	input, button
		margin: 0
	

.obj
	margin: 4px 0px
	margin-left: 1px
	padding-left: 10px
	border-left: 1px solid #ddd
	
	&:hover
		border-left-color: #777
		
	.remove-button
		margin: 0
		
.json-create
	.add-button, .remove-button
		padding: 0px 8px
// .json-element, .json-create
.json-editor
	z-index: 2
	position: relative
// .obj
// 	margin: 4px 0
	

.property-viewer
	height: 100%
	background-color: PRIMARY_600
	color: white
	
	.msg
		padding: 16px
	
	button
		margin: 16px

	h1
		text-align: center
	.json-displayer
		color: white
		background-color: PRIMARY_600
		padding: 16px
		word-wrap: break-word
		// background-color: white
		

.list-viewer
	background-color: white
	overflow: auto
	height: 100%

	table
		background-color: #eee
		
		td
			background-color: white
	
.logs
	height: 40%
	
.info
	height: 100%
	
.token
	background-color: white
	overflow: auto
	border-bottom: 1px solid #eee

	.token-name
		padding: 16px
	
	.token-button-group
		padding: 8px
		float: right
		
.success
	background-color: SUCCESS_GREEN
	border-color: SUCCESS_GREEN
	
	&:hover
		border-color: SUCCESS_GREEN - 30

.danger
	background-color: ERROR_RED
	border-color: ERROR_RED
	
	&:hover
		border-color: ERROR_RED - 30
		
.graph-editor
	text-align: center
	background-color: PRIMARY_600
	color: white
	height: 100%
	
	.button-group
		padding: 16px

.shared-datastructures
	text-align: center
	padding: 16px
	background-color: white
	
	.datastructure-overview-container
		background-color: BG - 20
	
.library-bindings
	text-align: center
	background-color: PRIMARY_700
	height: 150px
	color: white
	padding: 48px
	h1, h2
		margin: 0

.tab-labels
	background-color: PRIMARY_800

.tab-label
	background-color: PRIMARY_700
	box-shadow: none
	
	&.selected
		background-color: PRIMARY_600
		
	&:hover
		border: 0
		background-color: PRIMARY_600
		
	border: 0
	margin: 0
	padding: 16px
	
		
@media(max-height: 500px)
	.container
		height: auto
		
	.dialog
		top: 0
